:root{
    --primary-color:rgb(0, 83, 0);
    --secondary-color:#faf4e5;
}

body {
    background-color: var(--secondary-color);
    
}

html.dark-mode body{
    background-color: #0a1929;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}


.header-nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem 2rem; 
    z-index: 1000;
    animation: fade-down 1s;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 7rem; 
}

html.dark-mode .header-nav{
    background-color: #0a1929;
}


.menu-toggle {
    display: none;
    cursor: pointer;
    order: 2;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;

}

.menu-toggle .material-symbols-outlined {
    font-size: 2rem;
    color: var(--primary-color);
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    
}

html.dark-mode .menu-toggle .material-symbols-outlined {
    color: var(--secondary-color);
}


a{
    text-decoration: none;
    color: black;
}

.text-changer{
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.6rem;
    box-sizing: content-box;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: transparent;
    order: 0;
}

.text-changer-link{
    color: inherit;
    display: inline-flex;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s ease-out;
    align-items: center;
    height: 100%;
}

.text-changer-link:hover{
    transform: scale(1.1);
}

.intro-text{
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #c99e6e; 
    transition: color 0.3s ease;
    line-height: 1;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

html.dark-mode .intro-text{
    color: var(--secondary-color);
}

.words-container{
    position: relative;
    height: 40px;
    overflow: hidden;
    margin-left: 5px;
}

.word{
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--primary-color);
    line-height: 40px;
    height: 40px;
    display: block;
    padding-left: 7px;
    animation: word-change 15s infinite;
}

.text-changer-link:hover .word{
    color:#007e30;  
    text-shadow: 
                0 0 8px #007e30 , 
                0 0 15px rgba(0, 255, 98, 0.5), 
                0 0 20px rgba(0, 255, 98, 0.2); 
}


.header-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 15rem;
    gap: 1rem;
    background-color: rgba(4, 64, 8, 0.654);
    border-radius: 45px;
    padding: 0.8rem 1.5rem;
    transition: transform 0.3s ease-out;
    order: 1;
    flex: 1; 
    max-width: 600px; 
}

.header-links:hover{
    transform: scale(1.05);
}

.header-links a{
    font-family: "Sansation", sans-serif;
    font-size: 0.9rem; 
    text-decoration: none;
    color: #c9a67e;
    transition: all 0.3s ease-out;
    white-space: nowrap;
    padding: 0.3rem 0.5rem; 
}

.header-links a:hover{
    transform: scale(1.1);
    color:white;
}

html.dark-mode .header-links a:hover{
    color:black;
}

html.dark-mode .header-links a{
    color: var(--secondary-color);
}


.theme{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    transition: transform 0.3s ease-out;
    order: 3;
}

.theme:hover{
    transform: scale(1.1);
}

.theme .active{
    background-color: white;
    border-radius: 50%;
    color: black;
    padding: 0.2rem; 
}

html.dark-mode .theme .active{
    background-color: black;
    color: var(--secondary-color);
}

html.dark-mode .material-symbols-outlined{
    color: var(--secondary-color);
}

.material-symbols-outlined {
    font-size: 1.3rem; 
}


.home-page-main{
    min-height: 100vh;
    width: 100%;
    align-items: center;
    text-align: center;
    background-size: cover; 
    background-position: center center;
    background-attachment: scroll;
    background-image: url('/static/images/gemini-light-mode.png');
    margin-top: 0; 
    padding-top: 0; 
}

html.dark-mode .home-page-main{
    background-image: url('/static/images/gemini-dark-mode.png');
}

.home-page-text{
 
    animation: fade-up 1s;
    margin-top: 0; 
}

.home-page-text .title{
    padding-top: 1rem; 
    margin-top: 0; 
}

.home-page-main p{
        font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
    font-size: 20px; 
    line-height: 2rem;
    color:var(--primary-color);
}

.paragraph{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: #faf4e5b6;
    padding: 1.5rem;
    border-radius: 0 2rem 2rem 0;
    max-width: 50%;
    margin: 2rem 0 2rem 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .5);
    align-self: flex-start;
}

html.dark-mode .paragraph{
    background-color: rgba(0, 0, 0, 0.6);
}

html.dark-mode .home-page-main p {

    color: var(--secondary-color);
}


@media (max-width: 1024px) {

    
    .header-nav {
        padding: 0.6rem 1.5rem;
        gap: 1rem;
        height: 70px;
    }
    
    .text-changer {
        font-size: 1.4rem;
        height: 30px;
    }
    
    .header-links {
        padding: 0.6rem 1rem;
        gap: 0.8rem;
    }
    
    .header-links a {
        font-size: 0.85rem;
    }
    
     .paragraph {
        max-width: 70%; 
        padding: 1.25rem;
        gap: 1.5rem;
    }
    
}


@media (max-width: 768px) {
    body {
        padding-top: 90px;
    }
    
    .header-nav {
        flex-wrap: wrap;
        padding: 0.5rem 1rem;
        gap: 0.8rem;
        height: auto;
        min-height: 70px;
    }
    

    .menu-toggle {
        display: block;
        margin-right: 9rem;
 
    }
    

    .header-links {
        display: none;
        width: 50%;
        order: 3;
        flex-direction: column;
        background-color: rgba(4, 64, 8, 0.759);
        border-radius: 20px;
        padding: 1rem;
        margin-top: 0.5rem;
        max-width: none;
    }
    
    .header-links.active {
        display: flex;
    }
    
    .header-links a {
        padding: 0.6rem 0px;
        text-align: center;
        border-bottom: 1px solid rgba(201, 166, 126, 0.3);
        width: 100%;
        font-size: 1rem;
    }
    
    .header-links a:last-child {
        border-bottom: none;
    }
    
    .text-changer {
        font-size: 1.2rem;
        height: 25px;
        order: 0;
        flex: 1;
        justify-content: center;
    }
    
    .theme {
        order: 2;
    }
    
    .intro-text {
        font-size: 0.8em;
    }
    
    .words-container {
        height: 25px;
    }
    
    .home-page-text .title {
        padding-top: 0.5rem;
    }

       .paragraph {
        max-width: 90%; 
        padding: 1rem;
        gap: 1rem;
        border-radius: 2rem; 
        margin: 1.5rem auto; 
        align-self: center; 
    }
}


@media (max-width: 480px) {
    body {
        padding-top: 80px;
    }
    
    .header-nav {
        padding: 0.4rem 0.8rem;
    }
    
    .text-changer {
        font-size: 1rem;
        flex-direction: row; 
        text-align: center;
        height: auto;
        padding: 3px 5px;
    }
    
    .intro-text {
        margin-top: 0;
        font-size: 0.8rem;
    }
    
    .material-symbols-outlined {
        font-size: 1.1rem;
    }
    
    .home-page-text .title {
        padding-top: 0.2rem;
        font-size: 2.5rem;
    }

        .paragraph {
        max-width: 95%; 
        padding: 0.8rem;
        gap: 0.8rem;
        margin: 1rem auto;
        font-size: 0.9rem;
        line-height: 1.4rem;
    }
}


.sci-main{
    background-image: url('/static/images/sci-bg.jpg');
    background-size: cover; 
    background-position: center bottom;
    background-attachment: scroll;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 3rem;
    animation: fade-up 1s;
    margin-top: 0;
    padding-top: 0;
}

html.dark-mode .sci-main{
    background-image: url('/static/images/dark-sci-bg.jpg');
}

.edu-main{
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
    url('/static/images/light-edu-bg.jpg');
    background-size: cover; 
    background-position: center bottom;
    background-attachment: scroll;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 3rem;
    animation: fade-up 1s;
    margin-top: 0;
    padding-top: 0;
}

html.dark-mode .edu-main{
    background-image: 
    url('/static/images/dark-mode-edu-bg.jpg');
}

.art-main{
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('/static/images/arrrt-bg.jpg');
    background-size: cover; 
    background-position: center bottom;
    background-attachment: scroll;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 3rem;
    animation: fade-up 1s;
    margin-top: 0;
    padding-top: 0;
}

html.dark-mode .art-main{
    background-image: url('/static/images/art-dark-bg.jpg');   
}

.sports-main{
    background-image: url('/static/images/sports-bg.webp');   
     background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    min-height: 100vh;
    width: 100%;
    padding-bottom: 3rem;
    animation: fade-up 1s;
    margin-top: 0;
    padding-top: 0;
}

html.dark-mode .sports-main{
    background-image: url('/static/images/dark-sport-bg.jpg');   
}


.esport-main {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
    url('/static/images/esport-dark-bg.jpg');
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    min-height: 100vh;
    width: 100%;
    padding-bottom: 3rem;
    animation: fade-up 1s;
    margin-top: 0;
    padding-top: 0;
}

html.dark-mode .esport-main {
    background-image:linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    url('/static/images/esport-dark-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.about-main{
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('/static/images/about-bg.jpg');
    background-size: cover ;  
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    text-align: center;
    background-size: cover; 
    background-position: center ;
   
}

html.dark-mode .about-main{
    background-image: url('/static/images/about-dark-bg.jpg');
    background-position: center top;
}
.intro{
    background-color: rgba(0, 77, 64, 0.8);
    color: #c99e6e;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    padding: 1rem ;
    margin: 3rem;
    border-radius: 5rem;
}

html.dark-mode .intro{
    color: var(--secondary-color);
}


.title{
    padding-top: 13rem; 
    padding-bottom: 3rem; 
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .05em;
    font-size: 3rem;
    text-align: center;
    color: var(--primary-color);
    margin-top: 0; 
}

.home-page-main .title{
    padding-top: 13rem; 
    font-size: 3.5rem;
}

html.dark-mode .title{
    color: var(--secondary-color);
}

.achievement, .idea {
    background-color: #f7f7f4e9;
    padding: 30px 20px;
    margin-top: 2rem; 
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 2rem;
}

html.dark-mode .achievement{
    background-color: #0a192994;
}

.card-container{
    padding: 3rem 1rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
}

.card{
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding: 2rem 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .5);
    transition: transform 0.5s ease;
    text-align: center;
}

.card:hover{
    transform: rotateX(8deg) rotateY(8deg) scale(1.05);
    box-shadow: 20px 20px 40px rgba(0, 0, 0, .3);
}

.card a , .card p{
    color: rgb(0, 74, 0);
    font-size: 1.5rem;
}

.card h2{
    padding-bottom: 2rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    letter-spacing: .05em;
}

html.dark-mode .card a, html.dark-mode .card p{
    color: var(--secondary-color);
    
}

html.dark-mode .card{
    background-color: rgba(0, 68, 0, 0.7);
}

.achievement {
    background-color: #f7f7f4e9;
    padding: 30px 20px;
    margin-top: 2rem; 
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 2rem;
}

html.dark-mode .achievement{
    background-color: #0a192994;
}


.profile-header {
    text-align: center;
    margin-bottom: 30px;
}

.profile-header h1 {
    font-size: 2em;
    color: #004d40;
    margin: 0;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html.dark-mode .profile-header h1 {
    color: wheat;
}

.title-accent {
    font-size: 1.2em;
    font-weight: 300;
    color: #c99e6e;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

html.dark-mode .title-accent{
    color: white;
}


html.dark-mode .text-block p{
    color: white;
}

html.dark-mode .second-text-block p{
    color: white;
}


.highlight-text {
    font-weight: bold;
    color: #c9a67e; 
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;
}


.profile-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    padding: 0px 10px;
}

.text-block {
    flex: 2;
    order: 2; 
}

.text-block p{
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    text-align: left; 
    line-height: 1.65; 
    color: var(--primary-color);

}

.second-text-block{
    flex: 2;
    order: 1;
}

.second-text-block p{
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px; 
    color: var(--primary-color);
}

.image-container {
    flex: 1;
    order: 1;
    position: relative; 
}

.second-image-container{
    flex: 1;
    order: 2;
    position: relative;
    text-align: right;
}


.profile-photo {
    border-radius: 50%;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border: 7px solid #c99e6e;
}

.second-profile-photo{
    border-radius: 50%;
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 7px solid #c99e6e;
}

.featured-quote {
    font-size: 1.3em;
    font-style: italic;
    font-weight: 500;
    color: #c99e6e;
    margin: 0 0 30px 0;
    padding-left: 15px;
    border-left: 4px solid #004d40;
}

.about-main .achievement{
    max-width: 60%;
}

.idea p{
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .home-page-text .title {
        padding-top: 0.5rem;
        font-size: 2.5rem;
    }
    
    .home-page-main p {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
    
    .title {
        font-size: 2.5rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    
    .profile-content {
        flex-direction: column;
        gap: 20px;
    }
    
    .image-container, .second-image-container {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    
    .second-image-container {
        order: 1;
    }
    
    .second-text-block {
        order: 2;
    }
    
    .text-block p, .second-text-block p {
        font-size: 1.2rem;
        text-align: center;
    }
    
    .card-container {
        grid-template-columns: 1fr;
        padding: 2rem 1rem;
    }
    
    .intro {
        font-size: 1.2rem;
        margin: 2rem 1rem;
        padding: 1rem;
    }
    
    .para-img, .para-img-sno {
        flex-direction: column;
        gap: 2rem;
    }
    
    .para-img img, .para-img-sno img {
        height: auto;
        max-width: 100%;
        margin-bottom: 2rem;
    }
}

@media (max-width: 480px) {
    .home-page-text .title {
        padding-top: 0.2rem;
        font-size: 2rem;
    }
    
    .home-page-main p {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
    
    .title {
        font-size: 2rem;
    }
    
    .text-block p, .second-text-block p {
        font-size: 1.1rem;
    }
    
    .profile-header h1 {
        font-size: 2em;
    }
    
    .card {
        padding: 1.5rem 0.8rem;
    }
    
    .card h2 {
        font-size: 2rem;
        
    }
    
    .intro {
        font-size: 1rem;
        margin: 1rem 0.5rem;
        padding: 0.8rem;
        border-radius: 2rem;
    }
    
    .achievement {
        padding: 20px 15px;
        margin-top: 1rem;
    }
}

@keyframes fade-down {
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes word-change {
    0% {
        transform: translateY(0%);
    }
    5% {
        transform: translateY(0%);
    }
    10% {
        transform: translateY(-100%);
    }
    15% {
        transform: translateY(-100%);
    }
    20% {
        transform: translateY(-200%);
    }
    25% {
        transform: translateY(-200%);
    }
    30% {
        transform: translateY(-300%);
    }
    35% {
        transform: translateY(-300%);
    }
    40% {
        transform: translateY(-400%);
    }
    45% {
        transform: translateY(-400%);
    }
    50% {
        transform: translateY(-300%);
    }
    55% {
        transform: translateY(-300%);
    }
    60% {
        transform: translateY(-200%);
    }
    65% {
        transform: translateY(-200%);
    }
    70% {
        transform: translateY(-100%);
    }
    75% {
        transform: translateY(-100%);
    }
    80% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(0%);
    }
}