{% extends 'main/base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<div class="background-container">

    <div class="hero">
        <h1>About the Vision</h1>
        <p>Learn the strategic goals behind the Kingdom’s tourism projects: sustainable growth, cultural celebration,
            and community development.</p>
    </div>

    <div class="photos-section">
        <div class="photo-card-square">
            <img src="../static/images/Sindalah.png">
            <div class="overlay"></div>
        </div>

        <div class="photo-card focus">
            <img src="../static/images/amaala.jpg">
        </div>

        <div class="photo-card-square">
            <img src="../static/images/redSea-global.png">
        </div>

        <div class="photo-card">
            <img src="../static/images/sea2.jpg">
        </div>
    </div>

    <div class="brief animated-block">

        <p>The Vision Realization Programs (VRPs) are the driving force behind Vision 2030, working to bring the Vision
            to
            life.
            Each VRP has a specific roadmap with approved delivery plans, focused on meeting specific objectives and key
            performance indicators within five years. As Vision 2030 evolves to meet the changing needs of Saudi Arabia,
            the
            VRPs adapt and align with these needs to ensure Vision 2030 is successfully achieved.</p>

    </div>

    <div class="themes-container">
        <h2 class="animated-block">Vision 2030 Themes</h2>

        <div class="cards-container">

            <div class="card animated-block">
                <div class="icon-circle">
                    <span class="material-symbols-outlined">Groups</span>
                </div>
                <h3>Vibrant Society</h3>
                <p>
                    Building a strong, connected, and culturally rich society that celebrates heritage and embraces
                    progress.
                </p>
            </div>

            <div class="card animated-block">
                <div class="icon-circle">
                    <span class="material-symbols-outlined">trending_up</span>
                </div>
                <h3>Thriving Economy</h3>
                <p>
                    Empowering industries and innovation to create opportunities and drive sustainable growth.
                </p>
            </div>

            <div class="card animated-block">
                <div class="icon-circle">
                    <span class="material-symbols-outlined">flag</span>
                </div>
                <h3>Ambitious Nation</h3>
                <p>
                    Building an ambitious nation driven by transparency, responsibility, and the empowerment of its
                    people.
                </p>
            </div>
        </div>
    </div>


    <div class="themes-container">
        <h2 class="animated-block">Vision 2030 Goals</h2>

        <div class="cards-container">

            <div class="card animated-block">
                <div class="icon-circle">
                    <span class="material-symbols-outlined">Groups</span>
                </div>
                <h3>Promote Sustainable Tourism</h3>
                <p>
                    To protect natural landscapes, preserve cultural heritage, and ensure responsible development that
                    benefits future generations.
                </p>
            </div>

            <div class="card animated-block">
                <div class="icon-circle">
                    <span class="material-symbols-outlined">trending_up</span>
                </div>
                <h3>Enhance Visitor Experience</h3>
                <p>
                    To create world-class destinations that blend authenticity, comfort, and innovation — offering
                    unforgettable experiences to travelers from around the world </p>
            </div>

            <div class="card animated-block">
                <div class="icon-circle">
                    <span class="material-symbols-outlined">flag</span>
                </div>
                <h3>Drive Growth Empowerment</h3>
                <p>
                    To diversify the national economy, generate new jobs, and empower local communities to participate
                    in and benefit from the tourism sector
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}