{% extends 'main/base.html' %}

{% block title %}Amaala Project{% endblock %}

{% block content %}

<div class="background-container">

    <div class="hero">
        <h1>Amaala</h1>
        <p>Amaala is a sanctuary of well-being, culture, and creativity.</p>
        <p>It blends sustainability with luxury to redefine the art of living on the Red Sea coast.</p>
    </div>

    <div class="photos-section">
        <div class="photo-card-square">
            <img src="../static/images/amaala3.jpg">
        </div>

        <div class="photo-card focus">
            <img src="../static/images/amaala2.jpg">
        </div>

        <div class="photo-card-square">
            <img src="../static/images/amaala1.jpg">
        </div>

        <div class="photo-card">
            <img src="../static/images/amaala4.jpg">
        </div>
    </div>


    <div class="brief animated-block">

        <p>AMAALAis a luxury tourism destination being developed along the Red Sea coast in northwestern Saudi Arabia.
            Covering 4,000 km², this year-round destination will offer exciting activities across all interests –
            including
            sea and sun, sports, arts, and culture – ensuring all guests have the experience of a lifetime.
            <br><br>
            AMAALA's first phase of development is focused on its Triple Bay masterplan, which will offer some 1,300
            rooms
            in eight hotels - the first batch opening in 2024. When completed in 2027, AMAALA will have over 3,000 hotel
            rooms across 25 hotels, 943 luxury residential villas, as well as high-end retail and food outlets, a yacht
            club, wellness, and recreational facilities.
            <br><br>
            Sustainability is a top priority for AMAALA, which is located in the Prince Mohammed bin Salman Natural
            Reserve.
            Only 5% of the area will be used for development – the rest will be preserved, protecting the area’s diverse
            ecosystems and local culture. AMAALA will also operate on 100% renewable energy, have a zero-carbon
            footprint,
            and contribute no waste to landfills.
            <br><br>
            Discover how Vision 2030 is shaping the future of the Kingdom’s travel and tourism sector by unlocking
            breathtaking natural treasures and offering unmatched exciting experiences.
        </p>
    </div>
    <div class="project-vid">
        <video width="620" height="340" controls class="animated-block">
            <source src="../static/video/amaala.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

</div>

{% endblock %}