{% extends 'main/base.html' %}

{% block title %}Deseret Rock Project{% endblock %}

{% block content %}

<div class="background-container">
    <div class="hero">
        <h1>Deseret Rock</h1>
        <p>Carved by Nature, Designed for Luxury.</p>
        <p>It combines sustainability, architecture, and raw beauty in perfect harmony.</p>
    </div>

    <div class="photos-section">
        <div class="photo-card-square">
            <img src="../static/images/deseret_rock1.jpg">
        </div>

        <div class="photo-card focus">
            <img src="../static/images/deseret_rock2.jpg">
        </div>

        <div class="photo-card-square">
            <img src="../static/images/deseret_rock3.jpeg">
        </div>

        <div class="photo-card">
            <img src="../static/images/deseret_rock4.jpg">
        </div>
    </div>


    <div class="brief animated-block">

        <p>Announced in 2021 by Red Sea Global, Desert Rock is a tribute to sustainable tourism and a perfect blend of
            modern luxury and environmental preservation. The resort has been crafted to allow guests to connect with
            the
            natural beauty of the region while protecting it for future generations.
            <br><br>
            Featuring 50 villas and 10 hotel rooms nestled among the magnificent vistas, the architecture is fully
            integrated into the rock, preserving its stunning silhouette and paying homage to the Oppenheim
            Architectural
            philosophy of building with the land, not on it. Desert Rock will preserve the rich history of the site,
            with
            local community members serving as stewards of the land and providing educational tours for visitors.
            <br><br>
            The resort will achieve the highest Leadership in Energy and Environmental Design (LEED) certification
            level,
            reducing energy consumption and regenerating native flora. Water retention and distribution systems will be
            used
            throughout the site, and materials excavated will be used to create the infrastructure.
            <br><br>
            Discover how Vision 2030 is shaping the future of the Kingdom’s travel and tourism sector, by unlocking
            natural
            treasures and offering unmatched experiences.
        </p>
    </div>

    <div class="project-vid">
        <video width="620" height="340" controls class="animated-block">
            <source src="../static/video/deseret_rock.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
{% endblock %}