{% extends 'main/base.html' %}

{% block title %}Programs{% endblock %}

{% block content %}

<div class="background-container">

    <div class="hero">
        <h1>Vision Realization Programs</h1>
        <p>Saudi Arabia Vision for Tourism Transformation</p>
        <p>Empowering sustainable growth, cultural preservation, and innovation across Saudi Arabia.</p>
    </div>

    <div class="photos-section">
        <div class="photo-card-square">
            <img src="../static/images/quality-life.jpeg">
        </div>

        <div class="photo-card focus">
            <img src="../static/images/national-transform.jpg">
        </div>

        <div class="photo-card-square">
            <img src="../static/images/pif.jpg">
        </div>

        <div class="photo-card">
            <img src="../static/images/financial.jpg">
        </div>
    </div>


    <div class="brief animated-block">

        <p>The Vision Realization Programs (VRPs) are the driving force behind Vision 2030, working to bring the Vision
            to
            life.
            Each VRP has a specific roadmap with approved delivery plans, focused on meeting specific objectives and key
            performance indicators within five years. As Vision 2030 evolves to meet the changing needs of Saudi Arabia,
            the
            VRPs adapt and align with these needs to ensure Vision 2030 is successfully achieved.</p>
    </div>


    <h1 id="title">Explore the Programs</h1>

    <div class="container">

        <div class="card animated-block">
            <div class="img-box">
                <img src="../static/images/quality-life.jpeg">
            </div>
            <div class="content">
                <h2>Quality of Life</h2>
                <p>Enables culture, entertainment, sports and tourism to flourish in Saudi Arabia, delivering
                    enriched
                    and better lives for all.</p>
            </div>
        </div>

        <div class="card animated-block">
            <div class="img-box">
                <img src="../static/images/national-transform.jpg">
            </div>
            <div class="content">
                <h2>National Transform</h2>
                <p>The Program is creating a diversified, innovative, and world-leading nation.</p>
            </div>
        </div>

        <div class="card animated-block">
            <div class="img-box">
                <img src="../static/images/pilgrim-experience.jpeg">
            </div>
            <div class="content">
                <h2>Pilgrim Experience</h2>
                <p>Welcoming the world with faith and hospitality.
                    This initiative enhances the visitor journey, modernizes services, and promotes cultural tourism
                    tied to the Kingdom’s spiritual heritage.</p>
            </div>
        </div>

        <div class="card animated-block">
            <div class="img-box">
                <img src="../static/images/pif.jpg">
            </div>
            <div class="content">
                <h2>PIF</h2>
                <p>The Program is driving transformation through bold and visionary investments.</p>
            </div>
        </div>

        <div class="card animated-block">
            <div class="img-box">
                <img src="../static/images/financial.jpg">
            </div>
            <div class="content">
                <h2>Financial Development</h2>
                <p>The Program is building a strong, sustainable, and vibrant economy.</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}