{% extends 'main/base.html' %}

{% block title %}Red Sea Global Project{% endblock %}

{% block content %}

<div class="background-container">

    <div class="hero">
        <h1>Red Sea Global</h1>
        <p>A destination where pristine nature meets visionary design.</p>
        <p>Red Sea Global redefines travel through innovation, conservation, and world-class hospitality.</p>
    </div>

    <div class="photos-section">
        <div class="photo-card-square">
            <img src="../static/images/redSea-global1.png">
        </div>

        <div class="photo-card focus">
            <img src="../static/images/redSea-global2.jpg">
        </div>

        <div class="photo-card-square">
            <img src="../static/images/redSea-global3.png">
        </div>

        <div class="photo-card">
            <img src="../static/images/redSea-global4.png">
        </div>
    </div>


    <div class="brief animated-block">

        <p>Nestled along the west coast of Saudi Arabia, this 28,000 square kilometer paradise is home to an archipelago
            of
            over 90 untouched islands, stunning beaches, and a range of natural wonders including dormant volcanoes,
            desert
            dunes, and mountain canyons. The Red Sea is also home to the world’s fourth biggest barrier reef, where
            marine
            life and coral thrive like nowhere else.<br>
            <br>
            The Red Sea is so much more than just a picturesque vacation spot – it boasts a rich cultural history, with
            historical and cultural sites waiting to be explored. In 2023, it will open its doors to its first guests,
            inviting them to experience all that this unique destination has to offer. On completion in 2030, the
            destination will offer 8,000 rooms in 50 hotels, and 1,000 residential properties.<br>
            <br>
            From world-leading amenities to natural simplicity, The Red Sea has something for everyone.<br>
            <br>
            Discover how Vision 2030 is shaping the future of the Kingdom’s travel and tourism sector by unlocking
            breathtaking natural treasures and offering unmatched exciting experiences.
        </p>
    </div>


    <div class="project-vid">
        <video width="620" height="340" controls class="animated-block">
            <source src="../static/video/redsea-global.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
{% endblock %}