{% extends 'main/base.html' %}

{% block title %}Sindalah Project{% endblock %}

{% block content %}

<div class="background-container">
    
    <div class="hero">
        <h1>Sindalah</h1>
        <p>The Gateway to Luxury Island Living in NEOM.</p>
        <p>Masterpiece of modern elegance and coastal serenity.</p>
    </div>

    <div class="photos-section">
        <div class="photo-card-square">
            <img src="../static/images/sindalah1.jpg">
        </div>

        <div class="photo-card focus">
            <img src="../static/images/sindalah2.jpg">
        </div>

        <div class="photo-card-square">
            <img src="../static/images/sindalah3.jpg">
        </div>

        <div class="photo-card">
            <img src="../static/images/sindalah4.png">
        </div>
    </div>


    <div class="brief animated-block">

        <p>Located in NEOM and launched in 2022 by His Royal Highness Prince Mohammed bin Salman, Crown Prince, Prime
            Minister, Sindalah has been designed as a premier luxury destination for island and yacht enthusiasts. An
            alluring tourism spot, it serves as a gateway to the Red Sea, while preserving its diverse marine
            ecosystems.
            <br><br>
            Sindalah is one of the highlights of NEOM in addition to THE LINE, Oxagon, and Trojena.
            <br><br>
            Discover how Vision 2030 is shaping the future of the Kingdom’s travel and tourism sector by unlocking
            breathtaking natural treasures and offering unmatched exciting experiences.
        </p>
    </div>

    <div class="project-vid">
        <video width="620" height="340" controls class="animated-block">
            <source src="../static/video/sindalah.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
{% endblock %}