{%extends 'main/base.html'%}

{%block title%}About{%endblock%}


{%block content%}


<main class="about-main">
    <h1 class="title">About this website</h1>

    <section class="achievement">
        <div class="profile-header">
            <h2 class="title-accent">The website idea</h2>
            <h1>Who Are We</h1>
        </div>

        <div class="profile-content">

            <div class="second-text-block">
                <p>We are <span class="highlight-text">a digital platform dedicated to documenting and celebrating the
                        milestones of Saudi Arabia's transformative era</span>. We tell stories of
                    vision, change, and national pride — one achievement at a time. We
                    wish to <span class="highlight-text">inspire, educate, and empower</span> by spotlighting the
                    Kingdom's
                    accomplishments in science, education, arts, sports, and innovation.
                    We aim to be <span class="highlight-text">a beacon of modern Saudi identity</span>. We hope to
                    become <span class="highlight-text">the go-to destination for anyone seeking to understand the
                        power, beauty, and ambition of modern-day Saudi Arabia</span> — aligned with <span
                        class="highlight-text">Vision 2030</span>.</p>


            </div>
        </div>
    </section>

</main>

{%endblock%}