{%extends 'main/base.html'%}
{%load static%}

<title>{%block title%}E-Sport Achievements{%endblock%}</title>

{%block content%}


<main class="esport-main">
    <h1 class="title">E-Sports Saudi Achievements</h1>

    <section class="achievement">
        <div class="profile-header">
            <h2 class="title-accent">eWorld Cup</h2>
            <h1>Mosaad Al-Dossary</h1>
        </div>

        <div class="profile-content">
            <div class="image-container">
                <img src="{%static 'images/mosaad.webp'%}" alt="" class="profile-photo">
            </div>


            <div class="second-text-block">
                <p>Mosaad "Msdossary" Al-Dossary is widely recognized as <span class="highlight-text">one of the most
                        accomplished players in competitive EA Sports FC (formerly FIFA)</span>,
                    with his career defined by several major titles, most notably <span class="highlight-text">winning
                        the FIFA eWorld Cup Grand Final in 2018</span> where he secured <span class="highlight-text">a
                        dominant 4-0 aggregate victory</span>. Beyond that career-defining win, the Saudi Arabian
                    player has achieved <span class="highlight-text">over 20 trophies</span>, including <span
                        class="highlight-text">multiple FUT Champions Cups</span> and <span class="highlight-text">the
                        Xbox World Championship in 2019</span>, making him <span class="highlight-text">the only person
                        in the game's history to win back-to-back Xbox World Championships</span>. His
                    consistent performance and dominance led to him being <span class="highlight-text">named Esports
                        Player of the Year twice</span>. Furthermore, he is <span class="highlight-text">the founder and
                        chairman of the successful esports organization Team Falcons</span>, demonstrating his impact
                    both
                    as an individual competitor and an influential figure in the growth of esports
                    in Saudi Arabia.</p>


            </div>
        </div>
    </section>



</main>
{%endblock%}