{%extends 'main/base.html'%}
{%load static%}


{%block content%}




<title>{%block title%}Scientific Achievements{%endblock%}</title>



<main class="sci-main">

    <h1 class="title">Scientific Saudi Achievements</h1>

    <section class="achievement">
        <div class="profile-header">
            <h2 class="title-accent">Pioneering Visionary</h2>
            <h1>Dr. Hayat Sindi</h1>
        </div>

        <div class="profile-content">
            <div class="image-container">
                <img src="{%static 'images/hayat-sindi.jpg'%}" alt="Dr. Hayat Sindi" class="profile-photo">
            </div>

            <div class="text-block">
                <blockquote class="featured-quote">
                    "My mission in life and contribute something to humanity. For me, science is a universal language
                    that transcends nationality, religion, and gender."
                </blockquote>

                <p>
                    <span class="highlight-text">Dr. Hayat Sindi</span> is a pioneering Saudi biomedical
                    scientist and social entrepreneur, celebrated for becoming the
                    <span class="highlight-text">first Saudi woman to earn a Ph.D. in biotechnology</span>
                    from Cambridge University. Her defining achievement lies in her commitment to global
                    health equity, <span class="highlight-text">leading the co-founding of Diagnostics for All
                        (DFA)</span>, an initiative focused
                    on creating simple, affordable diagnostic devices that can be used in low-resource
                    settings. <span class="highlight-text">She also established the i2 (Institute for Imagination and
                        Ingenuity)</span> to
                    foster a culture of science and entrepreneurship among youth in the Middle East.
                    Recognized for her global influence, <span class="highlight-text">Dr. Sindi was appointed as a
                        UNESCO Goodwill
                        Ambassador</span>, promoting science education, and made history as one of the <span
                        class="highlight-text">first women
                        appointed to the Saudi Shura Council</span>, solidifying her role as a leader in scientific
                    innovation and national policy.
                </p>
            </div>
        </div>
    </section>


    <section class="achievement">
        <div class="profile-header">
            <h2 class="title-accent">Pioneering Visionary</h2>
            <h1>Zainab Alturaiki</h1>
        </div>

        <div class="profile-content">
            <div class="second-image-container">
                <img src="{%static 'images/zainab.jpg'%}" alt="" class="second-profile-photo">
            </div>

            <div class="second-text-block">

                <p>
                    Zainab Alturaiki is celebrated as a pioneer in Saudi Arabia's technology education landscape,
                    notably for being <span class="highlight-text">a member of the inaugural female cohort to be
                        admitted to the prestigious King Fahd University of Petroleum and Minerals (KFUPM)</span> for a
                    Bachelor of Science in Software
                    Engineering. Excelling in her studies, particularly in Artificial Intelligence (AI), she
                    earned <span class="highlight-text">nomination to participate in the KAUST Academy AI Program</span>
                    and <span class="highlight-text">represent KFUPM in global programming competitions</span>. Beyond
                    her academic success, Alturaiki demonstrated key leadership by
                    <span class="highlight-text">founding the KFUPM Female Computer Club</span>, actively working to
                    empower and support women in the
                    tech sector and <span class="highlight-text">serving as a Global Engagement Ambassador for the
                        university</span>.
                </p>
            </div>
        </div>
    </section>

</main>

{%endblock%}