.culture-header
{
    width: 100%;
    min-height: 120vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/static/images/almuraba.png');

    position: relative;
    overflow: hidden;
}

.culture-header #culture-video
{
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    object-fit: cover;
    opacity: 0.1;
}

.culture-header .culture-content
{
    width: 100%;
    min-height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.culture-header .culture-content h1
{
    font-weight: 900;
    font-size: 7rem;
    color: #fffacd;

    text-shadow: 
    -1px -1px 0 #000,  /* Black shadow top-left */
    1px -1px 0 #000,   /* Black shadow top-right */
    -1px 1px 0 #000,   /* Black shadow bottom-left */
    1px 1px 0 #000;    /* Black shadow bottom-right */
}

.culture-short-content
{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.culture-short-content h2
{
    font-weight: 400;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 2.7rem;
    text-align: center;
    color: #000;
}
/* --- --- */
.fintech
{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(45deg , #00bc44, #ffeb3b);
}

.fintech-container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}

.fintech-container .fintech-card
{
    position: relative;
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.fintech-container .fintech-card:hover
{
    height: 400px;
}

.fintech-container .fintech-card .imgBx
{
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5;
}

.fintech-container .fintech-card:hover .imgBx
{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.fintech-container .fintech-card:hover .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fintech-container .fintech-card .fintech-content
{
    position: absolute;
    top: 252px;
    width: 100%;
    height: 30px;
    padding: 0 30px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.fintech-container .fintech-card:hover .fintech-content
{
    top: 130px;
    height: 250px;
}

.fintech-container .fintech-card .fintech-content h2
{
    font-size: 1.5em;
    font-weight: 700;
    color: var(--clr);
}

.fintech-container .fintech-card .fintech-content p
{
    color: #333;
}

.fintech-container .fintech-card .fintech-content a
{
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background: var(--clr);
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
}

.content
{
    width: 100%;
    height: 100vh;
}