.economey-impact
{
    width: 100%;
}

.economey-impact .header
{
    width: 100%;
    height: 120vh;
    margin-top: 100px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/economey-header.png');
}

.economey-impact .header h1
{
    color: #008080;
    margin-right: 60px;
    font-size: 5rem;
    font-family:'Courier New', Courier, monospace;
}

.economey-impact .short-content
{
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #008080;
    margin-bottom: 30px;
}

.economey-impact .short-content h2
{
    text-align: center;
    padding: 50px;
    font-size: xx-large;
    color: #F5F5F5;
}

.economey-impact .short-content:hover h2
{
    color: #00FFFF;
    background-color: #000080;
}

.fin-tech
{
    width: 100%;
    height: 100vh;
}