/* --- colors ---*/
/* ---

المستقبل المشرق

Nvey Blue : #000080
Green Emerald : #50C878
Cyan : #00FFFF
Teal : #008080

الحيوية الرقمية
• األبيض / الرمادي الفاتح :كلون أساسي مهيمن) تصميم.(Minimalist
• األسود أو الرمادي الداكن :للنصوص والعناوين الرئيسية.
• األخضر النيون (Green Neon (أو األزرق الكهربائي :(Blue Electric (كلون "Accent "قوي لجذب
االنتباه لألزرار والرسوم البيانية، يوحي بالطاقة الرقمية

--- */

*
{
    padding: 0;
    margin: 0;
    background-color: #F5F5F5;

    font-family: "Phudu", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

header
{
    position: fixed;
    width: 100%;
    height: 120px;
    border: #00FFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}

header .logo 
{
    border-radius: 50%;
    box-shadow: rgba(0, 0, 128, 0.2) 0px 7px 29px 0px;
}

header .logo a
{
    border-radius: 50%;
}

header .logo a img
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


header nav 
{
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
    border: #50C878 1px solid;
    background-color: #50C878;
    box-shadow: rgba(0, 0, 128, 0.35) 0px 5px 15px;
}



header nav ul
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-items: center;
    background-color: #50C878;
}

header nav ul li
{
    background-color: #50C878;
    margin-left: 10px;
}

header nav ul li a
{
    color: #000080;
    text-decoration: none;
    background-color: #50C878;
}

main
{
    width: 100%;
    height: 150vh;
}

.colortest1
{
    width: 100%;
    height: 200px;
    background-color: #000080;
}

.colortest2
{
    width: 100%;
    height: 200px;
    background-color: #50C878;
}

.colortest3
{
    width: 100%;
    height: 200px;
    background-color: #00FFFF;
}

.colortest4
{
    width: 100%;
    height: 200px;
    background-color: #008080;
}