/* --- colors ---*/
/* ---

المستقبل المشرق

Nvey Blue : #000080
Green Emerald : #50C878
Cyan : #00FFFF
Teal : #008080

الحيوية الرقمية
• األبيض / الرمادي الفاتح :كلون أساسي مهيمن) تصميم.(Minimalist
• األسود أو الرمادي الداكن :للنصوص والعناوين الرئيسية.
• األخضر النيون (Green Neon (أو األزرق الكهربائي :(Blue Electric (كلون "Accent "قوي لجذب
االنتباه لألزرار والرسوم البيانية، يوحي بالطاقة الرقمية

--- */

*
{
    padding: 0;
    margin: 0;
    background-color: #F5F5F5;

    font-family: "Phudu", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

header
{
    top: 0;
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 120px;
    border: #00FFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}

header .logo 
{
    border-radius: 50%;
    box-shadow: rgba(0, 0, 128, 0.2) 0px 7px 29px 0px;
}

header .logo a
{
    border-radius: 50%;
}

header .logo a img
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


header nav 
{
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
    border: #50C878 1px solid;
    background-color: #50C878;
    box-shadow: rgba(0, 0, 128, 0.35) 0px 5px 15px;
}



header nav ul
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-items: center;
    background-color: #50C878;
}

header nav ul li
{
    background-color: #50C878;
    margin-left: 10px;
}

header nav ul li a
{

    color: #000080;
    font-size: 1rem;
    text-decoration: none;
    background-color: #50C878;
    padding: 10px;
    border-radius: 10px;
}

header nav ul li a:hover
{
    color: #00FFFF;
    background-color: #000080;
}

.menu-toggle
{
    display: none;
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #5dade2;
}

main
{
    width: 100%;
    height: 150vh;
}

.colortest1
{
    width: 100%;
    height: 200px;
    background-color: #000080;
}

.colortest2
{
    width: 100%;
    height: 200px;
    background-color: #50C878;
}

.colortest3
{
    width: 100%;
    height: 200px;
    background-color: #00FFFF;
}

.colortest4
{
    width: 100%;
    height: 200px;
    background-color: #008080;
}

/* -- Making Responsive navbar -- */
/* -- @media 768 phone screen size -- */
@media (max-width: 768px)
{
    header .logo 
    {
        display: none;
    }
    header .navbar
    {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 0px;
    }
    .nav-links
    {
        border-radius: 10px;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px;
        width: 100%;
        left: 0;
        background-color: #50C878;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01);
        padding: 10px 0;
        
    }
    .nav-links li 
    {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-links a
    {
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .nav-links a:hover
    {
        color: #00FFFF;
        background-color: #000080;
    }

    .menu-toggle
    {
        display: block;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 1;
        color: #000080;
    }

    .nav-links li
    {
        text-align: center;
        margin: 10px 0;
    }

    .nav-links.active
    {
        display: flex;
    }

}