{% extends 'main/base.html' %}

<!-- Page Content -->
{% block content %} 

<section class="culture-header">
    <video autoplay muted loop id="culture-video">
        <source src="/static/videos/light-moving-bg.mp4" type="video/mp4" >
         المتصفح لا يدعم تشغيل هذا النوع من الفيديوهات
    </video>
    <div class="culture-content">
        <h1>
            التطور الثقافي و الترفيهي
        </h1>
    </div>
</section>
<section class="culture-short-content">
    <h2>
        شهد القطاع الترفيهي الثقافي في السعودية تطوراً تقنياً كبيراً من خلال مشاريع عملاقة مثل القدية، والاستثمارات في صناعة الأفلام، وتطوير البنية التحتية الرقمية مثل شبكات الجيل الخامس، بالإضافة إلى استخدام الذكاء الاصطناعي في الترفيه والتعليم الثقافي. يعكس هذا التطور سعي المملكة لتحقيق رؤية 2030، وتحويل المملكة إلى مركز عالمي للترفيه والتقنية، وتعزيز جودة الحياة. 
    </h2>
</section>
<div class="fintech">
    <div class="fintech-container">
        <div class="fintech-card" style="--clr:#009688">
            <div class="imgBx">
                <img src="" alt="">
            </div>
            <div class="fintech-content">
                <h2>
                    card 1
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas nemo, quasi ea assumenda sed minus sint magnam commodi! Laboriosam omnis voluptatum explicabo totam necessitatibus eligendi corporis assumenda quasi illum natus?
                </p>
                <a href="">Read me</a>
            </div>
        </div>
        <div class="fintech-card" style="--clr:#ff3e7f">
            <div class="imgBx">
                <img src="" alt="">
            </div>
            <div class="fintech-content">
                <h2>
                    card 2
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas nemo, quasi ea assumenda sed minus sint magnam commodi! Laboriosam omnis voluptatum explicabo totam necessitatibus eligendi corporis assumenda quasi illum natus?
                </p>
                <a href="">Read me</a>
            </div>
        </div>
        <div class="fintech-card" style="--clr:#03a9f4">
            <div class="imgBx">
                <img src="" alt="">
            </div>
            <div class="fintech-content">
                <h2>
                    card 3
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas nemo, quasi ea assumenda sed minus sint magnam commodi! Laboriosam omnis voluptatum explicabo totam necessitatibus eligendi corporis assumenda quasi illum natus?
                </p>
                <a href="">Read me</a>
            </div>
        </div>
    </div>
</div>
<section class="content" >

</section>
{% endblock %}