{% extends 'main/base.html' %}

<!-- البحث عن موضوع لإضافته -->
{% block title %} {% endblock %}

{% block content %}

    <div class="colortest1">
        <h1>
            Nvey Blue : #000080
        </h1>
    </div>
    <div class="colortest2">
        <h1>
            Green Emerald : #50C878
        </h1>
    </div>
    <div class="colortest3">
        <h1>
            Cyan : #00FFFF
        </h1>
    </div>
    <div class="colortest4">
        <h1>
            Teal : #008080
        </h1>
    </div>

    {% endblock %}