{% extends 'main/base.html' %}

{% block title %} التأثير التقني على محاور التنمية {% endblock %}


{% block content %}

<section class="economey-impact">
    <div class="header">
        <h1>
         التطور <br> الإقتصادي <br>التقني
        </h1>
    </div>
    <div class="short-content">
        <h2>
            قادت التقنية ثورة في الإقتصاد السعودي حيث أن التجارة الإلكترونية شهدت نموًا هائلًا ، 
            و خدمات التقنية المالية غيرت طريقة تعاملنا مع المال مع انتشار حلول الدفع 
            الرقمي مثل "STC Pay" و "Apple Pay" و "Samsung Pay".
            <br><br>
            كما ساهمت الرقمنة في جعل الخدمات الحكومية مثل  ( منصة أبشر، و ناجز ) أكثر كفاءة و شفافية 
            مما عزز بيئة الاستثمار و جذب رؤوس الأموال الأجنبية إلى قطاعات جديدة و واعدة.
        </h2>
    </div>
    <div class="fin-tech">
        
    </div>
</section>

{% endblock %}