{% extends 'base.html' %}
{% load static %}
{% block title %}
 Abha | Discover Saudi Arabia
{% endblock title %}
{% block content %}
 <div class="hero-section abha-fade-hero">
     <div class="hero-image-fader">
         <div class="hero-image abha-fader-1"></div>
         <div class="hero-image abha-fader-2"></div>
         <div class="hero-image abha-fader-3"></div>
         <div class="hero-image abha-fader-4"></div>
     </div>
     <div class="hero-content">
         <h1 class="display-4">Abha: Where Clouds Meet Mountains</h1>
         <p class="lead">The refreshingly cool, misty capital of the Aseer region, known for its green terraces.</p>
     </div>
 </div>

 <section class="city-details-section" id="activities">
     <div class="container py-5">
         <h2 class="section-title">Top Activities</h2>
         
         <div class="activity-grid">
 
             <div class="col-md-4 mb-4">
                 <div class="attraction-image-card activity-abha-fog">
                     <h3>Hiking in Aseer National Park</h3>
                     <p>Explore the diverse fauna and flora of the national park with trails ranging from easy walks to challenging mountain treks.</p>
                     <a href="https://urli.info/1ek3s" class="booking-link-text">Explore Nature</a>
                 </div>
             </div>
 
             <div class="col-md-4 mb-4">
                 <div class="attraction-image-card activity-abha-art">
                     <h3>Art Street The City's Creative Pulse</h3>
                     <p>A vibrant, pedestrian-friendly hub showcasing local art, vibrant murals, and cultural events amidst the mist.</p>
                     <a href="https://www.bing.com/ck/a?!&&p=887af06fe7256f7fbf524ea37979fdc304c61160eab4f78eb4b84885e23b531fJmltdHM9MTc2MjkwNTYwMA&ptn=3&ver=2&hsh=4&fclid=3a680f01-e76b-6082-0122-1979e6626186&psq=%d9%85%d8%b1%d8%ac%d8%b9+%d8%b4%d8%a7%d8%b1%d8%b9+%d8%a7%d9%84%d9%81%d9%86+%d9%81%d9%8a+%d8%a7%d8%a8%d9%87%d8%a7&u=a1aHR0cHM6Ly9kaXNjb3ZlcmFzZWVyLmNvbS9leHBlcmllbmNlcy9zaGFyYWEtYWxmbg" class="booking-link-text">Plan Visit</a>
                 </div>
             </div>
 
             <div class="col-md-4 mb-4">
                 <div class="attraction-image-card activity-abha-hike">
                     <h3>Misty Peaks and Mountain Retreats</h3>
                     <p>Camp high above the clouds in the lush, cool serenity of Aseer National Park.</p>
                     <a href="https://urli.info/1ek3s" class="booking-link-text">Taste Aseer</a>
                 </div>
             </div>
         </div>
     </div>
 </section>


{% endblock content %}
