{% extends 'base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block content %}

<section class="city-page-hero about-hero"> 
 <div class="hero-content">
         <h1>Discover Saudi Arabia</h1>
     <p>Our passion is to showcase the Kingdom's history, culture, and vibrant future.</p>
</div>
</section>

<section class="city-details-section about-text-cards"> 

 <div class="attraction-card animated-card mission-card" style="border-left: 5px solid #ffa500;">
     <h3>Our Vision</h3>
         <p>Saudi Arabia's Vision 2030 is an ambitious plan aimed at transforming the Kingdom into a strong and balanced economy, reducing dependence on oil. The vision focuses on diversifying the economy by developing sectors such as tourism, entertainment, and technology, while fostering innovation and enhancing global competitiveness. It also aims to improve quality of life, create job opportunities, and achieve environmental sustainability across various sectors.
    </p>
</div>

<div class="attraction-card animated-card mission-card" style="border-left: 5px solid #28a745;">
    <h3>Our Mission</h3>
        <p>Our mission is to provide travelers with accurate and comprehensive information about the Kingdom of Saudi Arabia's major cities and historical sites, as well as its unique natural wonders, through visually appealing and impactful content.
    </p>
</div>
</section>

<section class="our-values">
    <h2>Our Values</h2>
    <div class="values-grid-icons">
        <div class="value-item">
    <i class="fas fa-lightbulb"></i>  
    <h3>Creative Thinking</h3>
    <p>Creative thinking is about using imagination to solve problems and come up with new, effective ideas </p>
</div>
        <div class="value-item">
            <i class="fa fa-users" aria-hidden="true"></i> 
            <h3>Responsibility</h3>
            <p>Owning tasks and being accountable for the outcomes with integrity and care.</p>
        </div>
        <div class="value-item">
            <i class="fa fa-check-circle" aria-hidden="true"></i> 
            <h3>Excellence</h3>
            <p>Excellence is the pursuit of perfection through continuous improvement and attention to detail in every task</p>
        </div>
        <div class="value-item">
            <i class="fa fa-cogs" aria-hidden="true"></i> 
             <h3>Integrity</h3>
            <p>Integrity means doing the right thing even when no one is watching. It is the foundation of trust and honesty in every action</p>
        </div>
    </div>
</section>


{% endblock content %}