{% extends 'base.html' %}
{% load static %}
{% block title %}
    Activities | Discover Saudi Arabia
{% endblock title %}
{% block content %}
 
    <div class="hero-section">
        <div class="hero-content">
            <h1>Explore the Top Activities in Saudi Arabia</h1>
            <p>From shopping and cultural experiences to adventure and seasonal events, discover what Saudi Arabia has to offer!</p>
        </div>
    </div>

    <section class="activities-section">
        <div class="container">
            <h2>Top Activities</h2>
            <div class="activity-icons-grid">
                <div class="activity-item">
                    <i class="fas fa-check-circle active"></i>
                    <p>All</p>
                </div>
                <div class="activity-item">
                    <i class="fas fa-shopping-bag"></i>
                    <p>Shopping</p>
                </div>
                <div class="activity-item">
                    <i class="fas fa-utensils"></i>
                    <p>Food & Drinks</p>
                </div>
                <div class="activity-item">
                    <i class="fas fa-landmark"></i>
                    <p>Culture & History</p>
                </div>
                <div class="activity-item">
                    <i class="fas fa-tree"></i>
                    <p>Nature & Adventure</p>
                </div>
                <div class="activity-item">
                    <i class="fas fa-sun"></i>
                    <p>Seasonal Events</p>
                </div>
            </div>
        </div>
    </section>

    <section class="featured-events-section">
        <div class="container">
            <div class="event-card-container">
                <div class="event-card">
                    <img src="{% static 'images/riyadh.jpg' %}" alt="Winter Wonderland" class="event-image">
                    <h2 class="event-title">Beast Land... Welcome to Saudi!</h2>
                    <p class="event-description">Beast Land in Riyadh, launched as part of Riyadh Season, is an immersive adventure park inspired by MrBeast’s viral challenge videos. The park features a wide range of exciting rides and interactive game zones for visitors to explore and enjoy.</p>
                    <a href="https://www.bing.com/ck/a?!&&p=2017bde39ea249e48086c455b262001638d7cdf2a410b409c8813aaf0e9ccfc3JmltdHM9MTc2MjczMjgwMA&ptn=3&ver=2&hsh=4&fclid=3a680f01-e76b-6082-0122-1979e6626186&psq=%d9%88%d9%8a%d8%a8+%d8%a8%d9%88%d9%83&u=a1aHR0cHM6Ly93ZWJvb2suY29tL2FyL2xvZ2lu" class="btn event-btn">Book Now</a>
                </div>

                <div class="event-card">
                    <img src="{% static 'images/jeddah.png' %}" alt="Hayyak Bazood" class="event-image">
                    <h2 class="event-title">Rally Saudi Arabia!</h2>
                    <p class="event-description">
Rally Saudi Arabia marks the World Rally Championship's debut in Saudi Arabia. Based in Jeddah, it challenges drivers with desert speeds and technical rocky terrain.</p>
                    <a href="https://www.bing.com/ck/a?!&&p=2017bde39ea249e48086c455b262001638d7cdf2a410b409c8813aaf0e9ccfc3JmltdHM9MTc2MjczMjgwMA&ptn=3&ver=2&hsh=4&fclid=3a680f01-e76b-6082-0122-1979e6626186&psq=%d9%88%d9%8a%d8%a8+%d8%a8%d9%88%d9%83&u=a1aHR0cHM6Ly93ZWJvb2suY29tL2FyL2xvZ2lu" class="btn event-btn">Book Now</a>
                </div>

                <div class="event-card">
                    <img src="{% static 'images/abha.jpg' %}" alt="Welcome to Abha" class="event-image">
                    <h2 class="event-title">Welcome to Abha!</h2>
                    <p class="event-description">Escape the heat and embrace the heights! Discover Abha, where the misty mountains await your adventure.</p>
                    <a href="https://www.bing.com/ck/a?!&&p=2017bde39ea249e48086c455b262001638d7cdf2a410b409c8813aaf0e9ccfc3JmltdHM9MTc2MjczMjgwMA&ptn=3&ver=2&hsh=4&fclid=3a680f01-e76b-6082-0122-1979e6626186&psq=%d9%88%d9%8a%d8%a8+%d8%a8%d9%88%d9%83&u=a1aHR0cHM6Ly93ZWJvb2suY29tL2FyL2xvZ2lu" class="btn event-btn">Book Now</a>
                </div>

                <div class="event-card">
                    <img src="{% static 'images/khobar1.png' %}" alt="Khobar: The Gulf's Modern Heartbeat!" class="event-image">
                    <h2 class="event-title">PFL MENA 4!</h2>
                    <p class="event-description">A thrilling night of MMA battles with four champions crowned in an unforgettable atmosphere.</p>
                    <a href="https://www.bing.com/ck/a?!&&p=2017bde39ea249e48086c455b262001638d7cdf2a410b409c8813aaf0e9ccfc3JmltdHM9MTc2MjczMjgwMA&ptn=3&ver=2&hsh=4&fclid=3a680f01-e76b-6082-0122-1979e6626186&psq=%d9%88%d9%8a%d8%a8+%d8%a8%d9%88%d9%83&u=a1aHR0cHM6Ly93ZWJvb2suY29tL2FyL2xvZ2lu" class="btn event-btn">Book Now</a>
                </div>

                <div class="event-card">
                    <img src="{% static 'images/alula1.png' %}" alt="Ancient History Meets the Future" class="event-image">
                    <h2 class="event-title">Discover the Nabataean Wonders!</h2>
                    <p class="event-description">AlUla Journey through time where millennia of history meet towering sandstone mountains and enchanting green oases.</p>
                    <a href="https://www.bing.com/ck/a?!&&p=2017bde39ea249e48086c455b262001638d7cdf2a410b409c8813aaf0e9ccfc3JmltdHM9MTc2MjczMjgwMA&ptn=3&ver=2&hsh=4&fclid=3a680f01-e76b-6082-0122-1979e6626186&psq=%d9%88%d9%8a%d8%a8+%d8%a8%d9%88%d9%83&u=a1aHR0cHM6Ly93ZWJvb2suY29tL2FyL2xvZ2lu" class="btn event-btn">Book Now</a>
                </div>

                <div class="event-card">
                    <img src="{% static 'images/tabuk1.png' %}" alt="AlUla: Discover the Nabataean Wonders!" class="event-image">
                    <h2 class="event-title">Near Tabuk Central Park!</h2>
                    <p class="event-description">A thrilling entertainment experience with games, theater, and competitions to win prizes, all in a fun family-friendly atmosphere.</p>
                    <a href="https://www.bing.com/ck/a?!&&p=2017bde39ea249e48086c455b262001638d7cdf2a410b409c8813aaf0e9ccfc3JmltdHM9MTc2MjczMjgwMA&ptn=3&ver=2&hsh=4&fclid=3a680f01-e76b-6082-0122-1979e6626186&psq=%d9%88%d9%8a%d8%a8+%d8%a8%d9%88%d9%83&u=a1aHR0cHM6Ly93ZWJvb2suY29tL2FyL2xvZ2lu" class="btn event-btn">Book Now</a>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
