{% extends 'base.html' %}
{% load static %}
{% block title %}
    Jeddah | Discover Saudi Arabia
{% endblock title %}
{% block content %}
 
 <div class="hero-section jeddah-fade-hero">
     <div class="hero-image-fader">
         <div class="hero-image jeddah-fader-1"></div>
         <div class="hero-image jeddah-fader-2"></div>
         <div class="hero-image jeddah-fader-3"></div>
     </div>
     <div class="hero-content">
         <h1 class="display-4">Jeddah: The Bride of the Red Sea</h1>
         <p class="lead">A vibrant gateway to the holy cities, blending deep history with modern art and coastal energy.</p>
     </div>
 </div>

 <section class="city-details-section" id="activities">
     <div class="container py-5">
         <h2 class="section-title">Top Activities</h2>
         
         <div class="activity-grid">
 
             <div class="col-md-4 mb-4">
                 <div class="attraction-image-card activity-jeddah-diving">
                     <h3>Diving in the Red Sea</h3>
                     <p>Experience the crystal-clear waters and vibrant coral reefs.</p>
                     <a href="https://www.bing.com/ck/a?!&&p=a226528c8489a788eb14df16bebc0d7d51ed784bc8b3a3505f4564e3627c97bfJmltdHM9MTc2MjkwNTYwMA&ptn=3&ver=2&hsh=4&fclid=3a680f01-e76b-6082-0122-1979e6626186&psq=%d9%85%d8%b1%d8%ac%d8%b9+%d8%a7%d9%84%d8%ba%d9%88%d8%b5+%d9%81%d9%8a+%d8%ac%d8%af%d8%a9&u=a1aHR0cHM6Ly9tZXJtYXRlcy5jbHViL2FyL2hvbWUtYXIv" class="booking-link-text">Book Adventure</a>
                 </div>
             </div>

             <div class="col-md-4 mb-4">
                 <div class="attraction-image-card activity-jeddah-mall">
                     <h3>Red Sea Mall Shopping</h3>
                     <p>A modern experience with international brands and entertainment.</p>
                     <a href="https://www.bing.com/ck/a?!&&p=7dc74b3983e5aa782e86539cb258b1959efb13d8ec8fa33d3a7d507174a0b963JmltdHM9MTc2MjY0NjQwMA&ptn=3&ver=2&hsh=4&fclid=3a680f01-e76b-6082-0122-1979e6626186&psq=%d9%88%d9%8a+%d8%a8%d9%88%d9%83&u=a1aHR0cHM6Ly93ZWJvb2suY29tLw" class="booking-link-text">Explore Malls</a>
                 </div>
             </div>
             
             <div class="col-md-4 mb-4">
                 <div class="attraction-image-card activity-jeddah-restaurants">
                     <h3>Coastal Dining</h3>
                     <p>Enjoy fresh seafood and international cuisine with a sea view.</p>
                     <a href="https://www.bing.com/ck/a?!&&p=7dc74b3983e5aa782e86539cb258b1959efb13d8ec8fa33d3a7d507174a0b963JmltdHM9MTc2MjY0NjQwMA&ptn=3&ver=2&hsh=4&fclid=3a680f01-e76b-6082-0122-1979e6626186&psq=%d9%88%d9%8a+%d8%a8%d9%88%d9%83&u=a1aHR0cHM6Ly93ZWJvb2suY29tLw" class="booking-link-text">Find Restaurants</a>
                 </div>
             </div>
         </div>
     </div>
 </section>


{% endblock content %}
