{% extends 'base.html' %}
{% load static %}

{% block title %}
 Riyadh | Discover Saudi Arabia
{% endblock title %}

{% block content %}
 
 <div class="hero-section riyadh-fade-hero">
 <div class="hero-image-fader">
 <div class="hero-image riyadh-fader-1"></div>
 <div class="hero-image riyadh-fader-2"></div>
 <div class="hero-image riyadh-fader-3"></div>
 </div>
 <div class="hero-content">
 <h1 class="display-4">Riyadh: The Dynamic Capital</h1>
 <p class="lead">A blend of historic landmarks and futuristic projects, making it the heart of Saudi Arabia's vibrant future.</p>
</div>
 </div>

 <section class="city-details-section" id="activities">
 <div class="container py-5">
 <h2 class="section-title">Top Activities</h2>
 
 <div class="activity-grid">

 <div class="col-md-4 mb-4">
 <div class="attraction-image-card activity-riyadh-boulevard">
 <h3>Boulevard World Fun</h3>
 <p>Explore the vast entertainment and shopping zones of Riyadh Season.</p>
 <a href="https://www.bing.com/ck/a?!&&p=63cb3f6b5b1ab93ac55aee6d455dc57ca90e37d73b2be4fd452913dd4314be29JmltdHM9MTc2MjczMjgwMA&ptn=3&ver=2&hsh=4&fclid=3a680f01-e76b-6082-0122-1979e6626186&psq=%d9%85%d8%b1%d8%ac%d8%b9+%d9%84%d8%a8%d9%88%d9%84%d9%8a%d9%81%d8%a7%d8%b1%d8%af+%d9%88%d9%88%d8%b1%d9%84%d8%af&u=a1aHR0cHM6Ly93d3cudmlzaXRzYXVkaS5jb20vYXIvcml5YWRoL2V2ZW50cy9ib3VsZXZhcmQtd29ybGQ" class="booking-link-text">Discover Boulevard World!</a>
 </div>
 </div>

 <div class="col-md-4 mb-4">
 <div class="attraction-image-card activity-riyadh-diriyah">
<h3>Najd Village Heritage</h3>
 <p>Experience the local culture, cuisine, and traditional architecture of the old city.</p>
 <a href="https://www.bing.com/ck/a?!&&p=369b591c2ab806a92a72f5128af093a339346fbb7f5f651e6a9e6fae74f7bd97JmltdHM9MTc2MjczMjgwMA&ptn=3&ver=2&hsh=4&fclid=3a680f01-e76b-6082-0122-1979e6626186&psq=%d9%85%d8%b1%d8%ac%d8%b9+%d8%aa%d8%b1%d8%a7%d8%ab+%d9%86%d8%ac%d8%af&u=a1aHR0cHM6Ly9hcmNoaXRzYXVkaS5kYXNjLmdvdi5zYS9jZW50cmFsLW5hamRpLWFyY2hpdGVjdHVyZQ" class="booking-link-text">Explore Heritage</a>
</div>
 </div>
 
 <div class="col-md-4 mb-4">
<div class="attraction-image-card activity-riyadh-masmak">
 <h3>Al-Masmak Fortress Tour</h3>
 <p>Visit this iconic fort, a central piece in Saudi history and a beautiful landmark.</p>
 <a href="https://www.bing.com/ck/a?!&&p=7dc74b3983e5aa782e86539cb258b1959efb13d8ec8fa33d3a7d507174a0b963JmltdHM9MTc2MjY0NjQwMA&ptn=3&ver=2&hsh=4&fclid=3a680f01-e76b-6082-0122-1979e6626186&psq=%d9%88%d9%8a+%d8%a8%d9%88%d9%83&u=a1aHR0cHM6Ly93ZWJvb2suY29tLw" class="booking-link-text">Book Your Trip!</a>
 </div>
 </div>
 </div>
 </div>
 </section>



{% endblock content %}