{% extends 'base.html' %}
{% load static %}

{% block title %}
 Tabuk | Discover Saudi Arabia
{% endblock title %}

{% block content %}
 
 <section class="city-page-hero tabuk-fade-hero">
    <div class="hero-content">
        <h1>Tabuk: The Land of History and Nature</h1>
        <p>A gateway to Saudi Arabia's ambitious future projects and rich historical sites.</p>
    </div>
 </section>

 <section class="city-details-section" id="activities">
    <div class="container py-5">
        <h2 class="section-title">Top Activities</h2>
        
        <div class="activity-grid">

            <div class="col-md-4 mb-4">
                <div class="attraction-image-card activity-tabuk-harrat">
                    <h3>Harrat Al Uwayrid Park Adventure</h3>
                    <p>Explore the stunning volcanic plateaus and unique landscapes near the city.</p>
                    <a href="#" class="booking-link-text">Explore Nature</a>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="attraction-image-card activity-tabuk-museum">
                    <h3>Tabuk Regional Museum</h3>
                    <p>Learn about the region's history since ancient times and its role on the pilgrimage route.</p>
                    <a href="https://www.bing.com/ck/a?!&&p=50a22dd063698dbf368f036c9cf4b3b2f9f0f0d9b505d8928a1fdd829a4d3d73JmltdHM9MTc2MjkwNTYwMA&ptn=3&ver=2&hsh=4&fclid=3a680f01-e76b-6082-0122-1979e6626186&psq=%d9%85%d8%b1%d8%ac%d8%b9+%d9%84%d8%aa%d8%a8%d9%88%d9%83&u=a1aHR0cHM6Ly93d3cudmlzaXRzYXVkaS5jb20vYXIvdGFidWs" class="booking-link-text">Plan Visit</a>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="attraction-image-card activity-tabuk-mall">
                    <h3>Tabuk Square Mall</h3>
                    <p>A modern shopping destination that brings together international and local brands in one place.</p>
                    <a href="#" class="booking-link-text">Explore Shops</a>
                </div>
            </div>
        </div>
    </div>
 </section>


 
{% endblock content %}
